
<div class="col-md-offset-3 col-md-6" id="stock-form">
	<div class="form-group select-strategy-div">
		<label for="select-strategy">Strategies</label>
		<select class="selectpicker" id="select-strategy" title="Select one or two investing strategies" multiple>
		  <option>Ethical Investing</option>
		  <option>Growth Investing</option>
		  <option>Index Investing</option>
		  <option>Quality Investing</option>
		  <option>Value Investing</option>
		</select>
	</div>
	<div class="form-group">
		<label for="investment">Investment</label>
		<input type="number" min="5000" class="form-control" id="investment" placeholder="Amount to invest">
	</div>
	<div class="form-group">
		<button type="button" id="submit-form" class="btn btn-success">Submit</button>
	</div>

</div>