
<!doctype html>
<title>CMPE 285 Final Project</title>
<head>

<!-- 3rd party -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/loader.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<!-- Custom  -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">

</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% include 'form.html' %}
      <div class="loader collapse">Loading...</div>
      <div id="chart-div" class="collapse">
        <canvas id="stock-chart"></canvas>
    </div>
  </div>
</div>

  
  <!-- 3rd party libraries -->
  <script 
  src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
 <script type=text/javascript src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
 <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

  <!-- Custom scripts -->
 <script type=text/javascript src="{{url_for('static', filename='scripts/main.js') }}"></script>

</body>